fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

python-jose[cryptography]
passlib[bcrypt]
python-multipart

pydantic-settings

sentence-transformers


pgvector

redis

requests

numpy
scikit-learn

pymupdf
python-docx
