fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

python-jose[cryptography]
python-multipart

pydantic-settings

sentence-transformers


pgvector

redis

requests

numpy
scikit-learn
email-validator
pymupdf
python-docx
passlib[bcrypt]==1.7.4
bcrypt==4.1.3